@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  @apply scale-100 p-2 text-[#463F3A] rounded-md border-2 border-[#463F3A] flex items-center bg-orange-600 transition-transform;
}

button:hover {
  @apply bg-[#463F3A] text-orange-600;
}

.array-div {
  @apply bg-orange-600;
}
